<div class="logo">
  <%= link_to "MMS", root_path %>
</div>
<div class="navi">
  <ul>
    <li class="active">
      <%= link_to t(".dashboard"), "#" %>
    </li>
    <li class="active">
      <%= link_to t(".project"), admin_projects_path %>
    </li>
    <li class="active">
      <%= link_to t(".team"), admin_teams_path %>
    </li>
    <li class="active">
      <%= link_to t(".users"), admin_users_path %>
    </li>
    <li class="active">
      <%= link_to t(".skill"), "#" %>
    </li>
    <li class="active">
      <%= link_to t(".prosition"), "#" %>
    </li>
  </ul>
</div>
