<%= form_with(model: [:admin, @team]) do |form| %>
  <%= render 'error' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        <%= form.label t"name" %><br>
        <%= form.text_field :name, class:"form-control" %>
      </p>

      <p>
        <%= form.label t"description" %><br>
        <%= form.text_area :description, class:"form-control"%>
      </p>

      <p>
        <%= form.label t"leader" %><br>
        <%= form.text_field :name_leader_team, class:"form-control" %>
      </p>

      <p>
        <%= form.label t"project" %><br>
        <%= select("team", "project_id", Project.all.collect {|c| [ c.name, c.id ] }, {prompt: 'Select project', selected: '', disabled: ''}) %>
      </p>

      <div class="actions">
        <%= form.submit %>
      </div>
  </div>
</div>
<% end %>
