<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body class="home">
  <div class="container-fluid display-table">
    <div class="row display-table-row">
      <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
        <%= render 'admin/dashboard/siderbar' %>
      </div>
      <div class="col-md-10 col-sm-11 display-table-cell v-align">
        <div class="row">
          <header>
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
              <div class="header-rightside">
                <ul class="list-inline header-top pull-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <%= image_tag "team-1.jpg" %>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="navbar-content">
                          <span>admin</span>
                          <p class="text-muted small">
                            me@gmail.com
                          </p>
                          <%= link_to t("profile"), "#", class:"view btn-sm active" %>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </header>
        </div>
        <div class="user-dashboard">
          <table id class="table table-bordered table-striped">
            <thead>
              <tr>
                <th><%= t "name" %></th>
                <th><%= t "description" %></th>
                <th><%= t "leader" %></th>
                <th><%= t "actions" %></th>
              </tr>
            </thead>
            <tbody id="customers">
              <%= render @teams %>
            </tbody>
          </table>
          <div class="new_team">
            <%= link_to t("new_team"), new_admin_team_path, remote: true, class: "btn btn-primary" %>
          </div>
          <div class="update_team">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
